/Debug
*.exp
*.pdb
*.lib
*/Debug/
*/Release/
*/SOCKET_Debug/
*/SOCKET_Release/
*/Win32/
*/x64/
*.rar
/.vs/
/x64
*/obj/
/wxRobot/bin/Debug/
/wxRobot/bin/Release/*.pdb
*/__pycache__/
packages
mongoose.c
mongoose.h

# VSCode
.vscode
# JetBrians IDE
.idea
