build/
Debug/
!/Release
Release/
SOCKET_Debug/
SOCKET_Release/
Win32/
x64/
*.rar
obj/
packages/

mongoose.c
mongoose.h
json.hpp

# py
__pycache__/
# Visual Studio
.vs
*.exp
*.pdb
*.lib
# VSCode
.vscode
# JetBrians IDE
.idea
